@import '~Styles/global.css';


.smallSquare {
  width: 400px;
  height: 400px;
  margin: auto;

  background-image: url(~Images/millennium_falcon.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.bigSquare {
  width: 600px;
  height: 400px;
  margin: auto;

  background-image: url(~Images/millennium_falcon.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
}
